@model IEnumerable<NewGameStore.Models.Publisher>

@{
    ViewBag.Title = "Publishers";
}

<h2>Publishers</h2>

<p>
    @Html.ActionLink("New Publisher", "Create", null, new { @class = "btn btn-success" })
    @Html.ActionLink("Back to Games", "../Games/Index", null, new { @class = "btn btn-default" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("View Games", "Games", new { id = item.PublisherID }, new { @class = "btn btn-info" })
            @Html.ActionLink("Delete", "Delete", new { id=item.PublisherID }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
