@model NewGameStore.Models.Rental

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Rental</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Client.FirstMidName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Client.FirstMidName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Copy.CopyID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Copy.CopyID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LentOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LentOn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DueDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DueDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReturnedOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReturnedOn)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.RentalID }, new { @class = "btn btn-default" }) 
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default" })
</p>
